[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = '*'

[dev-packages]
pytest = '*'
pytest-cov = '*'
mypy = '*'
sphinx = '*'
flake8 = '*'
twine = '*'
setuptools = '*'
wheel = '*'
colorama = '*'

[requires]
python_version = "3.8"
